@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    border-radius: 3px;
  }
  
  .navbar-brand {
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    align-items: center;
    color: rgb(6, 6, 6);
  }
  
  .logo {
    width: 100px;
    margin-right: 10px;

  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu li {
    display: inline;
  }
  
  .navbar-menu a {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    color: rgb(10, 10, 10);
    text-decoration: none;
    transition: transform .2s;
  }
  .hover:hover{
   background-color: grey;
  }
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon-container {
    display: flex;
    gap: 15px;

  }
  
  .icon {
    height: 3.7vh;
    width: 2vw;
    cursor: pointer;
  }
  .icon:hover{
    transform: scale(1.1);
  }
  
  .login-btn,
  .signup-btn {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
  }
  
  .login-btn {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
   font-size: 15px;
    background-color: transparent;
    color: rgb(15, 14, 14);
    transition: transform .2s;
  }
  .login-btn:hover{
transform: scale(1.5);
  }
  
  .signup-btn {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
   font-size: 15px;
    background-color: #3725ad;
    color: rgb(232, 217, 217);
    border-radius: 20px;
    height: 6vh;
    transition: tranform .2s;
  }
  .signup-btn:hover{
    transform: scale(1.5);
    background-color: rgb(13, 4, 28);
  }
 .wallet-btn{
  font-family: 'Montserrat',sans-serif;
  height: 6vh;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  box-shadow: 9px 5px;
  transition: tranform .2s;
 }
 .wallet-btn:hover{
  transform: scale(1.5);
 }
  